<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ea8470">  <td>20/05/20 05:55:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Check_Single_Paid_Transaction.checkStatusLinePost(java.lang.String)[pri:0, instance:com.apiTest.bayarPbb.payment.check.testCases.TC_001_Check_Single_Paid_Transaction@60f00693]">checkStatusLinePost</td> 
  <td>main@573958827</td>   <td></td> </tr>
<tr bgcolor="ea8470">  <td>20/05/20 05:55:00</td>   <td>-1509</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_001_Check_Single_Paid_Transaction.getSingleTransaction()[pri:0, instance:com.apiTest.bayarPbb.payment.check.testCases.TC_001_Check_Single_Paid_Transaction@60f00693]">&gt;&gt;getSingleTransaction</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@573958827</td>   <td></td> </tr>
<tr bgcolor="ce9dc4">  <td>20/05/20 05:55:00</td>   <td>-1582</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;bayarPbb.setup()[pri:0, instance:com.apiTest.bayarPbb.payment.check.testCases.TC_001_Check_Single_Paid_Transaction@60f00693]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@573958827</td>   <td></td> </tr>
<tr bgcolor="ea8470">  <td>20/05/20 05:55:01</td>   <td>30</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_001_Check_Single_Paid_Transaction.tearDown()[pri:0, instance:com.apiTest.bayarPbb.payment.check.testCases.TC_001_Check_Single_Paid_Transaction@60f00693]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@573958827</td>   <td></td> </tr>
</table>
