<h2>Methods that were not run</h2><table>
<tr><td>com.apiTest.bayarPbb.payment.check.testCases.TC_001_Check_Single_Paid_Transaction.checkResponseTimePost</td></tr>
<tr><td>com.apiTest.bayarPbb.payment.check.testCases.TC_001_Check_Single_Paid_Transaction.checkContentTypePost</td></tr>
<tr><td>com.apiTest.bayarPbb.payment.check.testCases.TC_001_Check_Single_Paid_Transaction.checkResponseBodyPost</td></tr>
<tr><td>com.apiTest.bayarPbb.payment.check.testCases.TC_001_Check_Single_Paid_Transaction.checkContentLength</td></tr>
<tr><td>com.apiTest.bayarPbb.payment.check.testCases.TC_001_Check_Single_Paid_Transaction.checkStatusCodePost</td></tr>
</table>