<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.apiTest.bayarPbb.taxBill.year.show.testCases.TC_001_Get_All_Year</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkResponseTimePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkContentTypePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkStatusCodePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkContentLength</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkStatusLinePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkResponseBodyPost</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PostRegistrationData</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>com.apiTest.bayarPbb.userData.show.testCases.TC_001_Get_With_Correct_And_Valid_Data</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkResponseTimePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkContentTypePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkStatusCodePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkContentLength</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkStatusLinePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkResponseBodyPost</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PostRegistrationData</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>com.apiTest.bayarPbb.updatePin.testCases.TC_001_Post_With_Valid_And_Correct_Data</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkResponseTimePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkContentTypePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkStatusCodePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkContentLength</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkStatusLinePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkResponseBodyPost</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PostRegistrationData</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>com.apiTest.bayarPbb.userData.edit.testCases.TC_001_Put_With_Valid_And_Correct_Data</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkResponseTimePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkContentTypePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkStatusCodePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkContentLength</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkStatusLinePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkResponseBodyPost</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PostRegistrationData</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>com.apiTest.bayarPbb.logout.testCases.TC_001_Post_With_Correct_And_Valid_Data</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkResponseTimePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkContentTypePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkStatusCodePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkContentLength</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkStatusLinePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkResponseBodyPost</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PostLoginData</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>com.apiTest.bayarPbb.taxBill.show.testCases.TC_001_Post_With_Valid_And_Correct_Request_Data</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkResponseTimePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkContentTypePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkStatusCodePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkContentLength</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkStatusLinePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkResponseBodyPost</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PostRegistrationData</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>com.apiTest.bayarPbb.taxBill.city.show.testCases.TC_001_Get_All_City</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkResponseTimePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkContentTypePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkStatusCodePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkContentLength</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkStatusLinePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkResponseBodyPost</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PostRegistrationData</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>com.apiTest.bayarPbb.payment.matchPin.testCases.TC_001_Post_With_Correct_And_Valid_Data</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkResponseTimePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkContentTypePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkStatusCodePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkContentLength</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkStatusLinePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkResponseBodyPost</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PostRegistrationData</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>com.apiTest.bayarPbb.transaction.show.all.testCases.TC_001_Get_All_Transaction</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkResponseTimePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkContentTypePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkStatusCodePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkContentLength</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkStatusLinePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkResponseBodyPost</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PostRegistrationData</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>com.apiTest.bayarPbb.payment.eWallet.testCases.TC_001_Post_With_Correct_And_Valid_Data</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkResponseTimePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkContentTypePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkStatusCodePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkContentLength</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkStatusLinePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkResponseBodyPost</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PostRegistrationData</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>com.apiTest.bayarPbb.login.testCases.TC_001_Post_With_Valid_And_Registered_Data</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkResponseTimePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkContentTypePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkStatusCodePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkContentLength</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkStatusLinePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkResponseBodyPost</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PostLoginData</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>com.apiTest.bayarPbb.taxBill.province.show.testCases.TC_001_Get_All_Province</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkResponseTimePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkContentTypePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkStatusCodePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkContentLength</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkStatusLinePost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkResponseBodyPost</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PostRegistrationData</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
</table>
